{% extends "dashboard_base.html" %}

{% block content %}

<div class="section-header">
  <div>
    <h2>Students</h2>
    <p>Manage your student roster</p>
  </div>
  <button class="add-btn" id="openModal">Add student</button>
</div>

<!-- STUDENTS LIST -->
<div class="students-grid">

  {% for student in students %}
    <div class="student-card">

      <div class="student-header">
        <h3>{{ student.full_name }}</h3>
      </div>

      <p class="email">
        {{ student.email }}
      </p>

      <div class="badges">
        <span class="badge">{{ student.level }}</span>
      </div>

      <hr>

      <p class="notes">
        {{ student.notes or "No notes" }}
      </p>

    </div>
  {% else %}
    <p>No students yet.</p>
  {% endfor %}

</div>

<div class="modal-overlay" id="studentModal">
  <div class="modal">
    <h3>Add Student</h3>

    <form method="POST" action="{{ url_for('main.add_student') }}", novalidate>
    {{ form.hidden_tag() }}

    {% for field in form if field.type not in ['CSRFTokenField', 'SubmitField'] %}
        <div class="form-group">
            {{ field.label }}
            {{ field(class="form-control") }}
        </div>
    {% endfor %}

    {{ form.add(class="button") }}
    </form>

  </div>
</div>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/add.js') }}"></script>
{% endblock %}


